@charset "UTF-8";

*{
    margin:0;
}



body {
    background: linear-gradient(90deg, #d7ebdd 0%, #e0fae8 100%);;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

h1{
    background-color: rgb(150, 226, 188);
    line-height: 200%;
 font-family: Georgia, 'Times New Roman', Times, serif;
 text-shadow: 3px 3px 5px #cccccc;
 padding: 1em;
}

.header{
    padding: 20px 0;
}

.logo{
    width: 50%;
}











